
.static{
    position: relative; 
    height:55vh; 
    width:50vw;
    margin-top: 10%;
    margin-left: 12%;
}

.dynamic{
    position: relative; 
    height:55vh; 
    margin-top: 10%;
    margin-left: 12%;
}
