<div class="radarChart row">
    <div class = "col-sm-6">
        <h5>Static Radar Chart <span style="font-size:12px">(Hard Coded Data)</span></h5>
        <div class="static">
            <canvas baseChart
                [datasets]="radarChartDatasets"
                [options]="radarChartOptions"
                [labels]="radarChartLabels"
                [type]="'radar'">
            </canvas>
        </div>
    </div>
    <div class = "col-sm-6">
        <h5>Dynamic Radar Chart <span style="font-size:12px">(Data is retrieved from a JSON file)</span></h5>
        <div class="dynamic">
            <canvas baseChart
                [datasets]="dradarChartDatasets"
                [options]="radarChartOptions"
                [labels]="dradarChartLabels"
                [type]="'radar'">
            </canvas>
        </div>
    </div>
</div>
    