<div class="barChart row">
<div class = "col-sm-6">
    <h5>Static Bar Chart <span style="font-size:12px">(Hard Coded Data)</span></h5>
    <div class="static">
        <canvas baseChart
            [type]="'bar'"
            [data]="barChartData"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend">
        </canvas>
    </div>
</div>
<div class = "col-sm-6">
    <h5>Dynamic Bar Chart <span style="font-size:12px">(Data is retrieved from a JSON file)</span></h5>
    <div class="dynamic">
        <canvas baseChart
            [type]="'bar'"
            [data]="dbarChartData"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend">
        </canvas>
    </div>
</div>
</div>
