<!-- Creating Bootstrap Navigation Bar -->
<div>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="flase" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav flex-column nav-pills">
          <div class="navHeader"> Chart Types </div>
          <li class="nav-item">
            <a class="nav-link" routerLink="/bar-chart" (click)="handPointVisible('barChart')" [class.active]="activeChartType === 'barChart'">Bar Chart <i class="fa-sharp fa-solid fa-hand-point-right fa-beat" id="barChart"></i></a> 
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/pie-chart" (click)="handPointVisible('pieChart')" [class.active]="activeChartType === 'pieChart'">Pie Chart <i class="fa-sharp fa-solid fa-hand-point-right fa-beat" id="pieChart"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/line-chart" (click)="handPointVisible('lineChart')" [class.active]="activeChartType === 'lineChart'">Line Chart <i class="fa-sharp fa-solid fa-hand-point-right fa-beat" id="lineChart"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/doughnut-chart" (click)="handPointVisible('doughnutChart')" [class.active]="activeChartType === 'doughnutChart'">Doughnut Chart <i class="fa-sharp fa-solid fa-hand-point-right fa-beat" id="doughnutChart"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/bubble-chart" (click)="handPointVisible('bubbleChart')" [class.active]="activeChartType === 'bubbleChart'">Bubble Chart <i class="fa-sharp fa-solid fa-hand-point-right fa-beat" id="bubbleChart"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/scatter-chart" (click)="handPointVisible('scatterChart')" [class.active]="activeChartType === 'scatterChart'">Scatter Chart <i class="fa-sharp fa-solid fa-hand-point-right fa-beat" id="scatterChart"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/polar-area-chart" (click)="handPointVisible('polarAreaChart')" [class.active]="activeChartType === 'polarAreaChart'">Polar Area Chart <i class="fa-sharp fa-solid fa-hand-point-right fa-beat" id="polarAreaChart"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/financial-chart" (click)="handPointVisible('financialChart')" [class.active]="activeChartType === 'financialChart'">Financial Chart <i class="fa-sharp fa-solid fa-hand-point-right fa-beat" id="financialChart"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/radar-chart" (click)="handPointVisible('radarChart')" [class.active]="activeChartType === 'radarChart'">Radar Chart <i class="fa-sharp fa-solid fa-hand-point-right fa-beat" id="radarChart"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/features-chart" (click)="handPointVisible('featuresChart')" [class.active]="activeChartType === 'featuresChart'">With Features <i class="fa-sharp fa-solid fa-hand-point-right fa-beat" id="featuresChart"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="content">

  <a href="https://www.chartjs.org/" target="_blank"><h3 >Chart.js<img src="https://www.chartjs.org/docs/latest/favicon.ico" class="chartJsLogo"></h3></a>
  <div class="intro"><p>
    Chart.js is a popular open-source JavaScript library used for creating responsive and interactive charts and graphs on web pages. 
    It provides a simple and flexible API that allows developers to generate a wide variety of chart types, including line charts, bar 
    charts, pie charts, doughnut charts, radar charts, and more. It offers a comprehensive set of features, customization options, 
    and cross-browser compatibility, making it a popular choice for developers looking to visualize data effectively. Chart.js comes 
    with built-in TypeScript typings and is compatible with following technologies </p>
      <div class="row">
          <div class="col-sm-2">
              <a href="https://github.com/chartjs/awesome#javascript" target="_blank">
              <div class="card">
                  <img class="card-img-top" src="https://www.ag-grid.com/static/javascript-63a7be100cadd83322fc020c36820172.svg" alt="Card image cap">
                  <div class="card-body">
                  <p class="card-text">JavaScript</p>
                  </div>
              </div>
              </a>
          </div>
          <div class="col-sm-2">
              <a href="https://github.com/reactchartjs/react-chartjs-2" target="_blank">
              <div class="card">
                  <img class="card-img-top" src="https://www.ag-grid.com/static/react-f098a313abafa8642511eabdfa6dfd8e.svg" alt="Card image cap">
                  <div class="card-body">
                  <p class="card-text">React</p>
                  </div>
              </div>
              </a>
          </div>
          <div class="col-sm-2">
              <a href="https://github.com/valor-software/ng2-charts" target="_blank">
              <div class="card">
                  <img class="card-img-top" src="https://www.ag-grid.com/static/angular-e185415c50bc1885eed6c6cc9d2b009e.svg" alt="Card image cap">
                  <div class="card-body">
                  <p class="card-text">Angular</p>
                  </div>
              </div>
              </a>
          </div>
          <div class="col-sm-2">
              <a href="https://github.com/apertureless/vue-chartjs/" target="_blank">
              <div class="card">
                  <img class="card-img-top" src="https://www.ag-grid.com/static/vue-f9e57c613665512559b017097fd772de.svg" alt="Card image cap">
                  <div class="card-body">
                  <p class="card-text">Vue</p>
                  </div>
              </div>
              </a>
          </div>
          <div class="col-sm-2">
            <a href="https://github.com/SauravKanchan/svelte-chartjs" target="_blank">
            <div class="card">
                <img class="card-img-top svelte" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Svelte_Logo.svg/747px-Svelte_Logo.svg.png?20191219133350" alt="Card image cap">
                <div class="card-body">
                <p class="card-text">Svelte</p>
                </div>
            </div>
            </a>
        </div>
      </div>
      <hr class="dotted-line"/>
      <p>ng2-charts is a wrapper library specifically designed to integrate Chart.js with Angular applications. It provides Angular
         components and directives that make it easier to use Chart.js within an Angular project. ng2-charts simplifies the process 
         of using Chart.js by providing Angular-specific features and seamless integration with Angular's data binding and change 
         detection mechanisms. By using ng2-charts, you can leverage the power of Chart.js in an Angular-specific manner.</p> 
  </div>
  
  <hr/>
  <h4 ><a href="https://www.npmjs.com/package/ng2-charts" target="_blank">ng2-charts</a>  Examples</h4>
  
  <div class="example">
    <router-outlet></router-outlet>
  </div>
</div>

<footer class= "footer">
  <span> All Rights Reserved 2023 @Dulara_Dinuli</span>
</footer>



